body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    max-height: 80vh;
    
}

.grid {
    box-sizing: border-box;
    border: solid 3px #555;
}

.grid:hover {
    background-color: #555;
}